<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.css" integrity="sha512-VSD3lcSci0foeRFRHWdYX4FaLvec89irh5+QAGc00j5AOdow2r5MFPhoPEYBUQdyarXwbzyJEO7Iko7+PnPuBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="container">
    <div class="header">
        <img src="/images/Senza-titolo.png" alt="">
        <div class="drop-down">
           <p class="client_name">DD</p>
        <ul>
            <li>
                <button class="logout-button" >logout</button>
            </li>
            <li>
                <a href="/change_password"> change password </a>
            </li>
        </ul>
        </div>
    </div>
        <div class="dashboard_wrapper">
          <div class="dash_head">
            <h1>Welcome to the Dashboard</h1><a href="/add_morequerie" class="cmn_btn">Add a querie</a>
          </div>
            <ul class="products_list">
                <% result.forEach((item)=> { %>
                    <li>
                        <div class="ans">
                            <h2><%= item.question %></h2>
                        <p><%= item.answer %></p>
                        <p><%= item.step %></p>
                        </div>
                      <div class="info_updates]">
                        <button id="deletebtn" class="delete-button" data-id="<%= item._id %>">delete</button>
                        <a class="cmn_btn" href="/updatequery?id=<%= item._id %>">update</a>
                      </div>
                    </li>
                <% }); %>
            </ul>
        </div>
</body>

<script>
    const deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const id = button.getAttribute('data-id');
            try {
                const response = await fetch(`/delete_queries?id=${id}`, {
                    method: 'DELETE',
                    headers: {
                    'Content-Type': 'application/json'
                },
                });
               
                if (response.ok) {
                    // Remove the deleted item's HTML from the DOM
                    const listItem = button.parentElement;
                    listItem.remove();
                    window.location.href = 'dashboard?refresh=true';
                    // console.log('Item deleted successfully');
                } else {
                    // console.error('Failed to delete item');
                }
            } catch (error) {
                console.error('Error deleting item:', error);
            }
        });
    });
    const logoutbutton = document.querySelectorAll('.logout-button');
    logoutbutton.forEach(button => {
        button.addEventListener('click', async () => {
            const response = await fetch(`/logout`, {
                    method: 'POST', 
                });
               window.location.href='/'
    })
})

</script>
</html>

