<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">
    <main>
        <button class="logout-button" >logout</button> <button> <a href="/change_password"> change password </a></button>
        <div>
            <h1>Welcome to the Dashboard</h1><button ><a href="/add_morequerie">Add a querie</a></button>
            <ul>
                <% result.forEach((item)=> { %>
                    <li>
                        <h2><%= item.question %></h2>
                        <p><%= item.answer %></p>
                        <p><%= item.step %></p>
                        <button class="delete-button" data-id="<%= item._id %>">delete</button>
                       <button> <a href="/updatequery?id=<%= item._id %>">update</a></button>
                    </li>
                <% }); %>
            </ul>
        </div>
        
    </main>

</body>

<script>
    const deleteButtons = document.querySelectorAll('.delete-button');
     
    deleteButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const id = button.getAttribute('data-id');
            try {
                const response = await fetch(`/delete_queries?id=${id}`, {
                    method: 'DELETE',
                    headers: {
                    'Content-Type': 'application/json'
                },
                });
                if (response.ok) {
                    // Remove the deleted item's HTML from the DOM
                    const listItem = button.parentElement;
                    listItem.remove();
                    window.location.href = 'dashboard';
                    console.log('Item deleted successfully');
                } else {
                    console.error('Failed to delete item');
                }
            } catch (error) {
                console.error('Error deleting item:', error);
            }
        });
    });
    const logoutbutton = document.querySelectorAll('.logout-button');
    logoutbutton.forEach(button => {
        button.addEventListener('click', async () => {
            const response = await fetch(`/logout`, {
                    method: 'POST', 
                });
               window.location.href='/'
    })
})

</script>
</html>

